kim AE/0_1.aep
*.aep Logs/
kim AE/Adobe After Effects Auto-Save/
*._*
*.DS_Store
picts/doorside 3840х1608.psd
picts/gostiniza_1.psd
picts/Paint.psd
picts/Paint.tif
picts/PaintV2.tif
picts/ocag.psd
picts/ocag_merged.psd
picts/stoleshniza.psd
picts/Table_3840х1608.psd
*~
.DS_Store
kim AE/Adobe After Effects Auto-Save
picts/evropa_fons
picts/gigant_hous
picts/vsadnik

kim AE/Автосохранение Adobe After Effects/

kim AE/nikita_sbor.aep

kim AE/Polet_nikita/polet (converted) (CC (13)).aep

kim AE/Polet_nikita/polet (converted).aep

kim AE/Polet_nikita/polet (converted)Report.txt

kim AE/practica/Adobe After Effects Auto-Save

kim AE/practica/nikita_sbor.aep

picts/polet Nikita/DATA/Atmosphere_06.mov

picts/polet Nikita/DATA/Atmosphere_07.mov

picts/polet Nikita/DATA/Smoke_Charge_07.mov
